{
  "plugins": [
    ["module-resolver", {
      "alias": {
        "components": "./src/components",
        "containers": "./src/containers",
        "assets": "./src/assets"
      }
    }],
    ["@babel/plugin-proposal-class-properties"]
  ]
}