.buttonText {
    margin-left: 10px !important;
}

.a2hsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 999999999;
    position: fixed;
    margin: 3px;
}

.topLeft {
    top: 0;
    justify-content: flex-start;
  }
  
.topRight {
    top: 0;
    justify-content: flex-end;
  }
  
  .bottomLeft {
    bottom: 0;
    justify-content: flex-start;
  }
  
  .bottomRight {
    bottom: 0;
    justify-content: flex-end;
  }